* {
  margin: 0;
  padding: 0;
}
.appContainer {
  width: 100lvw;
  display: flex;
  justify-content: center;
}
.wrapper {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
}
